<h1>Bem vindo ao Raddit</h1>

<%= link_to "New +", new_link_path %>

<h3>Ultimos links adicionados</h3>

<% @links.each do |link| %>
  
  <div class="link-container">
    <% @user = User.find_by_id link.user_id %>
    <%= link_to link.title, link.url, target: "_blank" %> - 
    <%= @user.name %>
  </div>

<% end %>