<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <%= link_to "Raddit", root_path, class: "navbar-brand" %>

      <p class="navbar-text navbar-right"><%= link_to "Cadastro", "/users/sign_up", class: "navbar-link" %></p>
      <p class="navbar-text navbar-right"><%= link_to "Login", "/users/sign_in", class: "navbar-link" %></p>

      <p class="notice navbar-text navbar-right"><%= notice %></p>

    </div>
  </div>
</nav>